.header__message {
	padding-top: 40px;
	padding-bottom: 40px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	color: #333;
	letter-spacing: .5em;
	font-size: 4em;
}
.header__welcomePage2 {
	background-color: #8e8e8e;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.header__menu {
	display: flex;
	justify-content: space-between;
}
.header__menuItem {
	text-decoration: none;
	color: #fff;
}
.content__titleLeft {
	text-align: left;
	color: #333;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: bold;
}
.content__actuGalerie {
	margin-top: 40px;
}
.content__actuGalerieLeft {
	@include zen-grid-item(8,1);
}
.content__lastImage {
	max-width: 100%;
	height: 98%;
}
.content__actuGalerieright {
	@include zen-grid-item(4,9);
	height: 100%;
}
.content__secondImage {
	margin-bottom: 20px;
}
.content__withBack {
	background: url(../img/bcc.png);
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100%;
	margin-top: 100px;
	height: 350px;
	padding-top: 40px;
}
.content__buttonLinkLarge {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #8E8E8E;
	color: #fff;
	border-radius: 8px;
	text-decoration: none;
	padding: 15px 20px;
	&:hover {
		background-color: #D68158;
	}
}
.footer {
	color: #fff;

}
.footer__upPart {
	background-color: #8e8e8e;
	margin-top: 100px;
	padding-top: 80px;
	padding-bottom: 40px;
}
.footer__upPart .container{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.footer__upPartLeft {
	margin-left: 0;
}
.footerupPartLeftTitle {
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.label {
	font-size: .8em;
	line-height: 3;
}
.footer__input {
	border-radius: 8px;
	height: 35px;
	width: 100%;
	padding-left: 10px;
}
.footer__upPartCenter {

}
.footer__upPartRight {

}
.footerupPartCenterTitle {
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.footerupPartRightTitle {
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.footerupPartRightSocial {
	padding-left: 10px;
}
.footerupPartSocialItem a {
	color: #fff;
	line-height: 2;
}
.footer_downPart {
	background-color: #333;
	padding-top: 40px;
	padding-bottom: 40px;
	a {
		color: #fff;
	}
}
.footer_downPart .container{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}