.news .card {
	margin-top:50px;
	margin-right: 40px;
	margin-left: 30px!important;
	height: 530px;
}

.news .card-image {
	height:200px;
}

.news .card-image img {
	height:100%;
}

.beforenews {
	height : 70px;
	background-color: #333333;
}

.content {
	border: 1px solid red;
}