.news .card {
	margin-top:50px;
	margin-right: 40px;
	margin-left: 30px!important;
	height: 530px;
	padding: 0!important;
}

.news .card .card-content {
	padding:30px!important;
}

.news .card .card-action {
	padding:30px!important;
}

.news .card-image {
	height:200px;
}

.news .card-image img {
	height:100%;
}

.beforenews {
	height : 70px;
	background-color: #333333;
}