.description_programmation {
  width:80%;
  margin: auto;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  height:560px;
  overflow:auto;
}

.already_visible {
  transform:translateX(0px);
  height:100%;
  top:96px;
  position:absolute ;
  z-index:0 !important;
}

.side-nav h4 {
  padding: 0 20px;
}

.programmation_container {
  margin-left:300px;
}
.text-prog {
  position:relative;
}
.page-footer {
  z-index:1;
}

.backgroundProject {
  position:absolute;
  opacity:0.4;
  top:0px;
  left:0px;
}
.backgroundProject img {
  max-width:100%;
}

.text_prog {
  position:relative;

}
@media screen and (max-width: 800px) {
  .programmation_container {
    margin-left:  0px;
  }
  .already_visible {
    width:100%;
    padding-bottom:0px;
    position:relative;
    top:0px;

  }
  .already_visible  li{
    text-align: center;
    width:25%;
    display:inline-block;

  }
}

