.description_programmation {
  width:80%;
  margin: auto;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  height:560px;
}

.already_visible {
  transform:translateX(0px);
  height:calc(100% - 140px);
  top:96px;
  position:absolute !important;
  z-index:0 !important;
}

.side-nav h4 {
  padding: 0 20px;
}

.programmation_container {
  margin-left:300px;
}

