.title {
  color:blue;
  font-size:50px;
  text-align:center;
}

.text-vote {
  width:100%;
  display:block;
  margin-top:0px !important;
}
.left_container {
  width:44%;
  margin:2.5%;
  display:inline-block;

}

.join_block {
  width:100%;
  display:block;

}
.button_formality {
  display:block;
  margin:auto;
  margin-top:20px;
}

.googlemap_block {
  width:45%;

  display:inline-block;
  margin:2.5% !important;
  vertical-align: top !important;
  height:600px;
}


.animated{
  height:580px !important;
}

ul{
  list-style-type:circle !important;
}