body {
  font-size: 1em;
}
.Count {
  font-size: 1em;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #333333;
}

.Counter {
  font-size: 40px;
  background-color: #333;
  background: radial-gradient(ellipse at center, rgba(185, 185, 185, 1) 0%, rgba(140, 140, 140, 1) 100%);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
  height: 80px;
  display: flex;
  overflow: hidden;
  margin: auto;
  text-align: center;
}

.Count__text {
  margin: auto;
  font-size: 20px;
  color: #fff;
  display: block;
}

.Counter__number {
  text-align: center;
  background-color: #b9b9b9;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
}

.Counter__unit.is-changing {
  transform: translateY(-100px);
  transition: transform 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
