html, body, ul, p, h1 {
	height: 100%;
	width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}
.clear {
    clear: both;
}
a {
    text-decoration: none;
}
