// Configuration
@import 'materialize';
@import 'conf/colors';
@import 'conf/mixins';
@import 'conf/mediaqueries';
@import 'conf/animations';
@import 'conf/fonts';

//Base
@import 'base/base';

//Global
@import 'global/layout';

//HEADER
@import 'header/header';

// Page Template
@import 'pages/who-is';
@import 'pages/home-trending';
@import 'pages/home-news';
@import 'pages/single-post';
@import 'pages/vote';
@import 'pages/programmation';

//Footer
@import 'footer/footer';