.header {
	font-family: 'Open Sans';
	max-width: 100%;
}
.header__background {
  	background-size: contain !important;
  	background-position: right bottom !important;
  	background-repeat: no-repeat !important;
	max-width: 100%;
	height: 350px;
	@media (max-width: 900px) {
		height: 250px;
	}
	@media (max-width: 635px) {
		height: 200px;
	}
	@media (max-width: 635px) {
		height: 150px;
	}
}
.header__welcome {
	background-color: #333333;
	text-align: center;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;

}